@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700");
@font-face {
  font-family: "Master Of Break";
  src: url("../fonts/master_of_break.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Roboto Condensed', sans-serif;
}

ul, ol {
  list-style-type: none;
}

.heading {
  color: #ed2024;
  font-size: 1.7em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 35px;
}

.heading--special {
  font-family: 'Master Of Break';
  font-size: 1em;
  text-transform: none;
  margin-left: 17px;
}

.subheading {
  color: #ff7e66;
  font-size: 1.8em;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}

.text {
  color: #9f9a97;
  font-size: 1em;
  text-align: center;
  max-width: 800px;
}

.text--small {
  font-size: 0.8em;
}

.btn {
  display: block;
  color: #fff;
  background-color: #ff7e66;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  padding: 15px 30px;
  margin-top: 35px;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.btn:hover {
  background-color: #ff5333;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #fff;
  z-index: 99;
  overflow: hidden;
}

.nav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
}

.nav__logo {
  width: 50px;
  margin: 10px 30px;
}

.nav__img {
  display: block;
  max-width: 100%;
}

.nav__burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50px;
  height: 45px;
  border: none;
  background-color: transparent;
  margin-right: 20px;
  padding: 8px;
}

.nav__burger.active .nav__burger-line:first-child {
  -webkit-transform: translateY(12px) rotate(225deg);
          transform: translateY(12px) rotate(225deg);
}

.nav__burger.active .nav__burger-line:nth-child(2) {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.nav__burger.active .nav__burger-line:last-child {
  -webkit-transform: translateY(-12px) rotate(-225deg);
          transform: translateY(-12px) rotate(-225deg);
}

.nav__burger-line {
  width: 40px;
  height: 4px;
  background-color: #ed2024;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: fixed;
  top: 60px;
  right: 0;
  width: 180px;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  height: calc(100vh - 60px);
  background-color: #fff;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  padding: 10px 0;
}

.nav__list.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav__item {
  -ms-flex-preferred-size: 50px;
      flex-basis: 50px;
  text-align: center;
}

.nav__link {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

@media (min-width: 768px) {
  .nav__burger {
    display: none;
  }
  .nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: static;
    width: 80%;
    height: 100%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    padding: 0;
  }
  .nav__item {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 100%;
  }
  .nav__link {
    width: auto;
    padding-bottom: 20px;
  }
}

@media (min-width: 1024px) {
  .nav__logo {
    margin-left: 60px;
  }
  .nav__link {
    position: relative;
    overflow: hidden;
  }
  .nav__link::after {
    display: block;
    content: "";
    position: absolute;
    top: calc(50% - 10px);
    left: 0;
    background-color: #fff581;
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    opacity: 0;
  }
  .nav__link:hover::after {
    opacity: 1;
  }
}

@media (min-width: 1300px) {
  .nav__link {
    font-size: 1.1rem;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3))), url(../img/header-mobile.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3)), url(../img/header-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: 1rem;
  padding: 0 30px;
}

.main-heading {
  position: relative;
  font-family: 'Master Of Break', sans-serif;
  font-size: 2.4em;
  color: #ed2024;
  text-align: center;
  z-index: 1;
  margin-bottom: 20px;
}

.main-heading::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  content: 'Taste on Our hands!';
  z-index: -1;
  -webkit-text-stroke: 10px #fff;
}

.header__text {
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

.header__arrow-down {
  position: absolute;
  bottom: 10%;
  font-size: 1.4em;
  color: #fff;
  opacity: .7;
  -webkit-animation: mouse-toggle 2.4s infinite;
          animation: mouse-toggle 2.4s infinite;
}

@-webkit-keyframes mouse-toggle {
  0% {
    opacity: 0;
  }
  30% {
    opacity: .7;
  }
  70% {
    opacity: .7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}

@keyframes mouse-toggle {
  0% {
    opacity: 0;
  }
  30% {
    opacity: .7;
  }
  70% {
    opacity: .7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}

@media (orientation: landscape) {
  .header {
    padding-top: 30px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3))), url(../img/header-mobile-land.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.3)), url(../img/header-mobile-land.jpg);
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .header {
    font-size: 1.5rem;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3))), url(../img/header-tab.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.3)), url(../img/header-tab.jpg);
  }
}

@media (min-width: 1024px) {
  .header {
    font-size: 1.6rem;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3))), url(../img/header-desktop.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.3)), url(../img/header-desktop.jpg);
  }
}

@media (min-width: 1300px) {
  .header {
    font-size: 2rem;
  }
}

.reservation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15vh 2rem;
}

@media (min-width: 1300px) {
  .reservation {
    font-size: 1.1rem;
  }
}

.time {
  background-color: #fff2ed;
  max-width: 1600px;
  margin: 0 auto;
  overflow: hidden;
}

.time__table {
  display: none;
}

.time__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10vh 2rem;
}

.time__pot {
  width: 100px;
  margin: 15px 0;
}

@media (min-width: 768px) {
  .time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .time__table {
    display: block;
    width: 50%;
  }
  .time__wrapper {
    padding: 0 2rem;
  }
}

@media (min-width: 1300px) {
  .time {
    font-size: 1.3rem;
  }
  .time__wrapper {
    max-width: 600px;
    margin: auto;
  }
  .time__pot {
    width: 150px;
    margin: 50px 0;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15vh 2rem;
}

@media (min-width: 1300px) {
  .menu {
    font-size: 1.1rem;
  }
}

.slider__wrapper {
  position: relative;
  max-width: 1600px;
  margin: auto;
}

.slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slide--one {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3))), url(../img/lemon-mobile.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3)), url(../img/lemon-mobile.jpg);
}

.slide--two {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3))), url(../img/lemon-mobile.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3)), url(../img/lemon-mobile.jpg);
}

.slide--three {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3))), url(../img/lemon-mobile.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3)), url(../img/lemon-mobile.jpg);
}

.slide__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fff;
  padding: 3.5rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.slide__heading {
  position: relative;
  font-family: 'Master Of Break', sans-serif;
  font-size: 2.5em;
  color: #ed2024;
  text-align: center;
  z-index: 1;
  margin-bottom: 20px;
}

.slide__heading::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  content: 'The Lemon Cake';
  z-index: -1;
  -webkit-text-stroke: 10px #fff;
}

.slide__text {
  max-width: 500px;
  font-size: .8em;
}

.slide__price {
  font-family: 'Master Of Break', sans-serif;
  font-size: 1.6em;
  padding: 30px 0;
}

.slide__btn {
  display: block;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  font-weight: 700;
  border: 2px solid #fff;
  padding: 15px 30px;
  -webkit-transition: color .3s, background-color .3s;
  transition: color .3s, background-color .3s;
}

.slide__btn:hover {
  color: #ed2024;
  background-color: #fff;
}

.arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  font-size: 1.3em;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  opacity: .6;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.arrow:hover {
  opacity: 1;
}

.arrow__left {
  left: 2%;
}

.arrow__right {
  right: 2%;
}

@media (min-width: 640px) {
  .slide--one {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3))), url(../img/lemon-mobile-land.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.3)), url(../img/lemon-mobile-land.jpg);
  }
  .slide--two {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3))), url(../img/lemon-mobile-land.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.3)), url(../img/lemon-mobile-land.jpg);
  }
  .slide--three {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3))), url(../img/lemon-mobile-land.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.3)), url(../img/lemon-mobile-land.jpg);
  }
}

@media (min-width: 1024px) {
  .slider__wrapper {
    font-size: 1.2rem;
  }
  .slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 90vh;
  }
  .slide--one {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3))), url(../img/lemon-desktop.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.3)), url(../img/lemon-desktop.jpg);
  }
  .slide--two {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3))), url(../img/lemon-desktop.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.3)), url(../img/lemon-desktop.jpg);
  }
  .slide--two {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3))), url(../img/lemon-desktop.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.3)), url(../img/lemon-desktop.jpg);
  }
  .slide__content {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    max-width: 50%;
  }
}

@media (min-width: 1300px) {
  .slider__wrapper {
    font-size: 1.5rem;
  }
  .slide__content {
    margin-right: 10%;
  }
}
/*# sourceMappingURL=style.css.map */