.heading
    color: $red
    font-size: 1.7em
    font-weight: 700
    text-transform: uppercase
    margin-bottom: 35px

.heading--special
    font-family: 'Master Of Break'
    font-size: 1em
    text-transform: none
    margin-left: 17px

.subheading
    color: $lightred
    font-size: 1.8em
    text-transform: uppercase
    text-align: center
    letter-spacing: 1px

.text
    color: $gray
    font-size: 1em
    text-align: center
    max-width: 800px

.text--small
    font-size: 0.8em

.btn
    display: block
    color: $white
    background-color: $lightred
    text-transform: uppercase
    text-decoration: none
    font-size: .8em
    padding: 15px 30px
    margin-top: 35px
    transition: background-color .3s
    &:hover
        background-color: $darkred
