// FEATURES
    
.features
    +flex-centered
    flex-direction: column
    text-align: center
    padding: 40px 40px 20px

.feature
    margin-bottom: 40px


.feature__icon
    height: 60px
    margin-bottom: 15px

.feature__name
    font-size: 1.3em

.features__line
    display: block
    width: 50%
    height: 2px
    background-color: $black
    margin-bottom: 40px

@media (min-width: 640px)
    .features
        flex-direction: row
        position: relative

    .features__line
        width: 2px
        height: 80px
        margin: 0 40px
        margin-bottom: 30px

@media (min-width: 1024px)
    .features__line
        margin: 0 6%


// GALLERY

.gallery
    max-width: 1600px
    margin: 0 auto

.gallery__wrapper
    display: grid
    grid-template-columns: 100%
    grid-template-rows: repeat(6, 200px)

.gallery__item
    +flex-centered
    position: relative
    width: 100%
    overflow: hidden
    &:nth-child(2)
        background-color: $pink
    &:hover .gallery__img
        transform: scale(1.1)

.overlay::before
    box-sizing: border-box
    position: absolute
    display: block
    content: ""
    width: 100%
    height: 100%
    background-color: $overlay-red
    background-clip: content-box
    padding: 25px

.overlay__img
    mix-blend-mode: multiply

.gallery__img
    width: 100%
    min-height: 100%
    transition: transform .3s

.gallery__item-title
    position: absolute
    color: $white
    font-size: 1.8em
    font-weight: 700
    text-transform: uppercase

.gallery__item-title::after
    position: relative
    top: 15px
    left: 50%
    transform: translateX(-50%)
    content: ""
    display: block
    width: 13px
    height: 4px
    background-color: $yellow

@media (min-width: 640px)
    .gallery__wrapper
        grid-template-columns: 50% 50%
        grid-template-rows: repeat(3, 200px)

@media (min-width: 1024px)
    .gallery__wrapper
        grid-template-columns: repeat(4, 25%)
        grid-template-rows: repeat(2, 300px)

    .gallery__item
        &:nth-child(3)
            grid-column: span 2
        &:nth-child(4)
            grid-column: span 2

    .gallery__img
        min-width: 120%
